.dialog-title {
    text-align: center;
    font-size: 4.5vh;
    color: gray;
}
mat-dialog-content {
    div {
        text-align: center;
        line-height: normal;
        font-size: 5.5vh;
        color: black;
    }
}
