.field {
    &.chance {
        color: white;
        border: 2px solid white;
        background-color: #2B6013;
    }
    .header { 
        width: 1em;
    }
    .rowspace {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    color: white;
    padding: 2px;
    font-size: large;
    width: max-content;
    height: max-content;
    border: 2px solid white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    background: rgba(214, 145, 144, 1);

    .field-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .field-cell {
            border-radius: 50%;
            background-color: red;
            border: 1px solid gray;
            display: inline-block;
            height: 2vw;
            width: 2vw;
            line-height: 2vw;
            text-align: center;
        }

        .field-cell.invisible {
            background-color: transparent !important;
            border: 1px solid transparent ;
        }
        .field-cell.red {
            background-color: red;
        }
        .field-cell.blue {
            background-color: white;

        }
        .field-cell.yellow {
            background-color: yellow;
        }
        .field-cell.green {
            background-color: green;
        }
    }

}