<div class="field" [class.chance]="type === 'chance'">
    <div class="header">{{calculateNumber()}}</div>
        <div class="rowspace">
            <div class="field-row">
                <div class="field-cell red" [class.invisible]="!(visiblePlayers).includes(0)"></div>
                <div class="field-cell blue" [class.invisible]="!visiblePlayers.includes(1)"></div>
            </div>
            <div class="field-row">
                <div class="field-cell yellow" [class.invisible]="!visiblePlayers.includes(2)"> </div>
                <div class="field-cell green" [class.invisible]="!visiblePlayers.includes(3)"></div>
            </div>
    </div>
</div>
