<div *ngIf="state$ | async as state">
    <div *ngIf="state.length > 0"
        class="red"
        [class.current]="(currentPlayer$ | async) === 0">Czerwoni: {{state[0]}}</div>
    <div *ngIf="state.length > 1"
        class="blue"
        [class.current]="(currentPlayer$ | async) === 1">Niebiescy: {{state[1]}}</div>
    <div *ngIf="state.length > 2"
         class="yellow"
         [class.current]="(currentPlayer$ | async) === 2">Żółci: {{state[2]}}</div>
    <div *ngIf="state.length > 3"
         class="green"
         [class.current]="(currentPlayer$ | async) === 3">Zieloni: {{state[3]}}</div>
</div>