.scoreboard {
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.red {
    color: red
}
.blue {
    color: blue;
}
.yellow {
    color: yellow
}
.green {
    color: green
}
.current {
    font-weight: bolder;
}