.row {
    .row-with-line {
        display: flex;
        .vertical-line {
            width: 1px;
            min-height: 100px;
            border-right: 2px dashed black;
            position: relative;
            right: 2.3vw;
            top: 6vh;
            &.inverted {
                right: 66.6vw;
            }
        }

        .fieldrow {
            width: 100%;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;
            padding: 1vh 0;
            justify-content: space-between;
    
            
    
            &.inverted {
                flex-direction: row-reverse;
                    
            }
           
        }
        
    }
  
    

    .line {
        position: relative;
        border-bottom: 2px dashed black;
        bottom: 7vh;
        z-index: 1;
    }
}



.control-panel {
    height: 80vh;   
    margin-left: 4vw;
    border-right: 3px solid;
    display: flex;
    flex-direction: column;
    app-scoreboard {
        text-align: right;
    }
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.55);
    border: 1px transparent;
    border-radius: 50px;
    gap: 2vh;
    
}
.board{
    width: 80vw;
    max-height: fit-content;

}

.main {
    height: 100vh;
    display: flex;
    gap: 2vw;
    padding-right: 3vw;
    align-items: center;
}