<div class="main">
    <div class="control-panel">
        <app-control-panel></app-control-panel>
        <app-scoreboard></app-scoreboard>
    </div>
    <div class="board">
        <div class="row" *ngFor="let row of [0,1,2,3,4,5]; let currentRow=index" [class.inverted]="currentRow %2 === 1">
            <field *ngFor="let field of [0,1,2,3,4,5,6,7,8,9]; let currentField=index"
                   [fieldNo]="13*currentRow + currentField" 
                   [type]="determineFieldType(row, field)" ></field>
        </div>
    </div>
</div>
