.row {
    display: flex;
    flex-direction: row;
    padding: 1vh 0;
    justify-content: space-between;
}

.row.inverted {
    flex-direction: row-reverse;
}

.control-panel {
    height: 80vh;   
    margin-left: 4vw;
    border-right: 3px solid;
    display: flex;
    flex-direction: column;
    app-scoreboard {
        text-align: right;
    }
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.55);
    border: 1px transparent;
    border-radius: 50px;
    gap: 2vh;
    
}
.board{
    width: 80vw;
    max-height: fit-content;

}

.main {
    height: 100vh;
    display: flex;
    gap: 2vw;
    padding-right: 3vw;
    align-items: center;
}